<!DOCTYPE html> 
<html>
<head>
    <title>Clinic History</title>
    <link href="../static/css/atencion.css" rel="stylesheet" type="text/css">
</head> 
    <body>
        <header>
            <div class="row">
                <div class="logo">
                <img src="../static/imagenes/HC.png">    
            </div>
                
            <div class="Form">
                <h1 class="subtitle">historia clinica:</h1>
                <table>
                    <thead>
                        <tr>
                            <td>nro historia</td>
                            <td>fecha</td>
                            <td>especialidad</td>
                            <td>tipo examen</td>
                            <td>comentarios</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in historias %}
                            <tr>
                                <td>{{ i.0 }}</td>
                                <td>{{ i.1 }}</td>
                                <td>{{ i.2 }}</td>
                                <td>{{ i.3 }}</td>
                                <td>{{ i.4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="text_box">
                <form method="post" action="">
                    <input type="text" placeholder="resultado" name="resultado">
                    <button class="btn" name = "siguiente" type="submit">siguiente</button>
                </form>
            </div>
        </header>
    </body>    
</html>