<!DOCTYPE html>
<html>
	<head>
		<title>Hermess Clinics</title>
		<link href="../static/css/login.css" rel="stylesheet" type="text/css">

	</head>
	<body>
		<div id="login-box">
			<div class="left-box">
				<form method="POST" action="{{ url_for('consul_general') }}">
					<h1> asignar consulta </h1>
					<input type="text" name="consulta_empresa" placeholder="documento"/>
					<button class="btn" type="submit">asignar</button>
				</form>
			</div>

			<div class="right-box">
				<div class="logo">
					<img src="../static/imagenes/HC.png">
				</div>
			</div>
		</div>
	</body>
</html>