<!DOCTYPE html>
<html>
	<head>
		<title>Hermess Clinics</title>
		<link href="../static/css/style.css" rel="stylesheet" type="text/css">

	</head>
	<body>
		<div id="login-box">
			<div class="left-box">

				<h1> empresa: </h1>
				<form method="POST" action="{{ url_for('empre_paciente') }}">
					<button class="btn btn-2" type="Submit">paciente</button>
				</form>
				<form method="POST" action="{{ url_for('empre_cconsulta') }}">
					<button class="btn btn-3" type="Submit">consulta G</button>
				</form>
				<form method="POST" action="{{ url_for('empre_examen') }}">
					<button class="btn btn-4" type="Submit">examen</button>
				</form>
			</div>
			<div class="right-box">
				<div class="logo">
					<a href="admin.html">
						<img src="../static/imagenes/HC.png">
					</a>
				</div>
			</div>
		</div>
	</body>
</html>