<!DOCTYPE html>
<html>
	<head>
		<title>Hermess Clinics</title>
		<link href="../static/css/login.css" rel="stylesheet" type="text/css">

	</head>
	<body>
		<div id="login-box">
			<div class="left-box">
				<form method="POST" action="{{ url_for('login') }}">
					<h1> iniciar sesion </h1>
					<input type="text" name="correo" placeholder="Email"/>
					<input type="password" name="contra" placeholder="Password"/>
					<input type="submit" value="ingresar">
				</form>
					
			</div>

			<div class="right-box">
				<div class="logo">
					<img src="../static/imagenes/HC.png">
				</div>
			</div>
		</div>
	</body>
</html>