<!DOCTYPE html>
<html>
	<head>
		<title>Company register</title>
		<link href="../static/css/register.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="user">
	    	<header class="user__header">
	        	<a href="admin.html"><img class="logo" src="../static/imagenes/HC.png" alt="" /></a>
	        	<h1 class="user__title">registro empresa</h1>
	    	</header>
	    
	    	<form class="form">

	    		<div class="form__group">
		            <input type="email"  name="correo" placeholder="correo" class="form__input" />
		        </div>

		        <div class="form__group">
		            <input type="text" name="nombre" placeholder="nombre" class="form__input" />
		        </div>

		        <div class="form__group">
		            <input type="text" name="ciudad" placeholder="ciudad" class="form__input" />
		        </div>

		        <div class="form__group">
		            <input type="text" name="direccion" placeholder="direccion" class="form__input" />
		        </div>

		        <div class="form__group">
		            <input type="text" name="documento" placeholder="documento" class="form__input" />
		        </div>

		        <div class="form__group">
		            <input type="text" name="telefono" placeholder="telefono" class="form__input" />
		        </div>

		        

		        <button class="btn" type="submit">Register</button>
		    </form>
		</div>
	</body>
</html>