*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1000px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    background: black;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
    background: black;
    transition: all 0.245s ease-in;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;  
}


h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    
}
header
{
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh;
    /*background-size: cover;
    background-position: center;*/
}
.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

.btn:hover
{
    background-color: black;
    transition: all 0.345s ease-in;   
}

.logo img
{
    width: 150px;
    height: auto;
}

.subtitle { 
    color: white;
    font-family:sans-serif;
    margin-top: 45px;
    margin-left: -750px;
    font-size: 45px;
} 

.myBox {
border: none;
padding: 1px;
font: 24px/36px sans-serif;
width: 700px;
height: 300px;
margin-left: -535px;
margin-top: 20px;
overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px gray;
border-radius: 8px;
}

::-webkit-scrollbar-thumb {
border-radius: 8px;
background: white; 
box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover {
background: #E9E9E9;
}


input[type="reset"]{
    margin-bottom: 28px;
    width: 70px;
    height: 32px;
    background: black;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 100px;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    margin-top: 6px;
    margin-left: 25px;
}

input[type="reset"]:hover{
    background: #E9E9E9;
    color:black;
    transition: 0.2s ease;
}

textarea.html-text-box {
    background-color:#ffffff;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border-width:1;
    border-style:solid;
    font-family:sans-serif;
    font-size:10pt;
    color:gray;
}

textarea.html-text-box:hover{
    color:black;
}

input.html-text-box {
    background-color:black;
    font-family:sans-serif;
    font-size:10pt;
    color:white;
}

.text_box{
    margin-left: 615px;
    margin-top: -220px;
}

.clear{
    color:white;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 240px;
  margin-top: -53px;
}

.box select {
  background-color: black;
  color: white;
  padding: 12px;
  width: 250px;
  height: 50px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  font-family: sans-serif;
}


.box::before {
  content: "\f13a";
  font-family: sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color:black;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
 /* color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);*/
  color:white;
  background-color: gray;
}

.box select option {
  padding: 30px;
  color: white;
}


.Options{
    margin-left: 615px;
    margin-top: -280px;
    color: white;
    font-family: sans-serif;
    font-size-adjust: 15px;
}

.btn{
  width: 155px;
  height: 32px;
  background: black;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 50px;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  -webkit-appearance: none;
}

.btn:hover{
  background:gray;
  transition: 0.254s ease-in;
}


.next-patient{
  margin-left: 615px;
  margin-top: 293px;
}

table{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 20px;
}

thead{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #369681;
    color: white;
}