body
{
	margin:0;
	padding: 0;
	background: linear-gradient(45deg, rgb(75, 230, 121) 10%, rgb(153, 216, 166) 90%);
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 300;
}

h1 {
	margin: 0 0 40px 0;
	font-weight: 300;
	font-size: 28px; 
	font-family: sans-serif;
	background-color: white;
	color: black;
}

p{
	background-color: black;
	color: white;
}

