body
{
	margin:0;
	padding: 0;
	background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
	font-size: 16px;
	color:#777;
	font-family: sans-serif;
	font-weight: 300;
}

#login-box{
	position: relative;
	margin:5% auto;
	height: 400px;
	width: 600px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.left-box{
	position: absolute;
	top:0;
	left: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
	background-color: white;
}

h1 {
	margin: 0 0 40px 0;
	font-weight: 300;
	font-size: 28px; 
	font-family: sans-serif;
	background-color: white;
	color: black;
}

input[type="text"],
input[type="password"]{
	display: block;
	box-sizing: border-b ox;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #838383;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
	background-color: white;
	color: #838383;
}

input[type="text"]:hover,
input[type="password"]:hover{
	color:black;
	border-bottom: 2px solid black; 
}


.btn{
	margin-bottom: 28px;
	width: 128px;
	height: 32px;
	background: black;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.2s ease;
	cursor: pointer;
	-webkit-appearance: none;
}

.btn:hover{
	background:#464646;
    transition: 0.254s ease-in;
}

/*
input[type="submit"]{
	margin-bottom: 28px;
	width: 128px;
	height: 32px;
	background: black;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.2s ease;
	cursor: pointer;
	-webkit-appearance: none;
}


input[type="submit"]:hover{
	background:#464646;
    transition: 0.254s ease-in;
}
*/

.right-box{
	position: absolute;
	top:0;
	right:0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
	background-image: url(../imagenes/fondo.jpg);
	background-size: cover;
	background-position: center;
}

.or{
	position: absolute;
	top:180px;
	left: 280px;
	width: 40px;
	height: 40px;
	background: #A47700;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
	line-height: 40px;
	text-align: center;
	color: white;
}

.right-box .signinwith{
	display: block;
	margin-bottom: 40px;
	font-size:28px;
	color: #fff;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
button.social{
	margin-bottom: 20px;
	width: 220px;
	height: 36px;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	transition: 0.2s ease;
	cursor: pointer;
}

.logo img
{
    width: 140px;
    height: auto;
    margin-top: -30px;
    margin-left: 106px;
}

.facebook{
	background:#32508e;
}

.facebook:hover{
	background:#4A62FF;
}

.twitter{
	background: #55acee;
}

.twitter:hover{
	background: #51C8FF;
}

.google{
	background: #dd4b39;
}

.google:hover{
	background: #FF6855;
}