body
{
	margin:0;
	padding: 0;
	background: #fafafa;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 300;
}

h1 {
	margin: 0 0 40px 0;
	font-weight: 300;
	font-size: 28px; 
	font-family: sans-serif;
	background-color: white;
	color: black;
}

p{
	background-color: black;
	color: white;
}

.card-header{
	background-color:  #5f788a;
	color: #ffffff;
}

.img-fluid{
	margin-top: 35px; 
	margin-left: 50px;
}

.btn-dark{
	background-color:  #5f788a;
	margin-left:85px;
}

.card-body{
	margin-left: 180px;
}

.card{
	
	margin-left: 170px; 
	margin-top: 150px;
}

.page-footer{
	background-color: #5f788a;
	height: 115px;
	color: white;
	font-size: small;
}

a{
	color: white;
}
